{
  "discord": {
    "token": "youraveragediscordtoken",
    "id": "yourbotaccountid"
    "owner": "yourowneridhere"
  },
  "moodle": {
    "url": "https://yourmoodle.url/",
    "tokens": []
  },
  "colors": {
    "red": "#ff0000",
    "blue": "#0000ff",
    "green": "#00ff00",
    "purple": "#6a0dad"
  }
}